{:linters {:unused-referred-var {:exclude {clojure.test [is are deftest testing]
                                           cljs.test    [is are deftest testing]}}

           ; allow :refer :all for this namespace
           :refer-all           {:exclude #{clojure.test}}

           :consistent-alias    {:aliases {clojure.string str}}}}
